<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{../../css/style.css}">
  <title>SpringBoot-bbs-</title>
</head>
<body>
  <div class="title">
    <h1>SpringBoot-bbs-</h1>
  </div>
  <div class="main">
    <main>
      <div class="bbsform">
        <h3>書き込みを編集する</h3>
        <form action="/save" method="post" th:object="${bbsModel}">
          <input type="hidden" name="id" th:value="*{id}">
          <p>名前<br><input type="text" name="createUser" th:value="*{createUser}"></p>
          <p>タイトル<br><input type="text" name="title" th:value="*{title}"></p>
          <p>メッセージ<br><textarea name="content" maxlength="250" th:text="*{content}"></textarea></p>
		  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
          <input type="submit" value="編集内容を登録する">
        </form>
      </div>
	  <a href="/">ホームへ戻る</a>
    </main>
  </div>
  
</body>
</html>